#
# {{ ansible_managed }}
#

[Unit]
Description={{ velocity_name | title }} Server
After=network.target
Requires={{ velocity_name }}.socket

[Service]
Type=simple
User={{ velocity_unix_user }}
Group={{ velocity_unix_group }}
WorkingDirectory={{ deploy_helper.shared_path }}
ExecStart={{ velocity_java_executable }} -Xmx{{ velocity_max_memory }} -Xms{{ velocity_initial_memory }} {{ velocity_java_options }} -jar velocity.jar nogui
ExecStop=/bin/sh -c "echo 'end' > {{ velocity_console_fifo_path }}"
# TTYPath=/dev/tty
# TTYVHangup=yes
# KillMode=process

StandardInput=socket
StandardOutput=journal
StandardError=journal
Restart=on-failure
ProtectHome=true
ProtectSystem=full
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
