#
# {{ ansible_managed }}
#

[Unit]
Description={{ velocity_name | title }} Server Console

[Socket]
ListenFIFO={{ velocity_console_fifo_path }}
SocketUser={{ velocity_unix_user }}
SocketGroup={{ velocity_unix_group }}
SocketMode={{ velocity_console_fifo_mode }}
RemoveOnStop=true

[Install]
WantedBy=sockets.target
